:root {
    --primary-color1: hsl(179, 62%, 43%);
    --primary-color2: hsl(71, 73%, 54%);
    --neutral-color1: hsl(204, 43%, 93%);
    --neutral-color2: hsl(218, 22%, 67%);
}
html {
    font-size: 16px;
}
* {
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--neutral-color1);
}
main {
    width: 680px;
    height: 540px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border-radius: 10px;
    -webkit-box-shadow: 0px 16px 53px -10px var(--primary-color1);
    -moz-box-shadow: 0px 16px 53px -10px var(--primary-color1);
    box-shadow: 0px 16px 53px -10px var(--primary-color1);
}
#top {
    grid-area: 1 / 1 / 2 / 3;
    background-color: white;
    border-radius: 10px 10px 0 0;
}
.tile {
    padding: 35px;
}
h1 {
    color: var(--primary-color1);
}
h3 {
    color: var(--primary-color2);
}
#top p {
    color: var(--neutral-color2);
    line-height: 30px;
}
#left {
    background-color: var(--primary-color1);
    border-radius: 0 0 0 10px;
}
#left p {
    color: white;
    margin-top: 7px;
}
h4 {
    color: white;
    font-size: 1.2rem;
    margin-top: 0;
}
#price {
    color: white;
    font-size: 2rem;
    font-weight: 700;
}
#per {
    color: var(--neutral-color1);
    margin-left: 10px;
}
#pricing {
    display: flex;
    align-items: center;
}
button {
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    color: white;
    background-color: var(--primary-color2);
    font-weight: 700;
    -webkit-box-shadow: 0px 15px 10px -15px black;
    -moz-box-shadow: 0px 15px 10px -15px black;
    box-shadow: 0px 15px 10px -15px #111;
    margin-top: 20px;
}
#right {
    background-color: hsl(179, 60%, 47%);
    border-radius: 0 0 10px 0;
}
#right p {
    color: white;
    font-size: 0.85em;
    line-height: 20px;
}
@media (max-width: 710px) {
    body {
        height: auto;
    }
    main {
        margin: 30px auto;
        width: 335px;
        height: auto;
        grid-template-columns: none;
        grid-template-rows: none;
    }
    #top {
        grid-area: 1 / 1 / 2 / 2;
    }
    #left {
        grid-area: 2 / 1 / 3 / 2;
        border-radius: 0;
    }
    #right {
        grid-area: 3 / 1 / 4 / 2;
        border-radius: 0 0 10px 10px;
    }
    h1 {
        font-size: 1.4rem;
    }
    h3 {
        font-size: 1rem;
    }
    #top p {
        font-size: 0.8rem;
        line-height: 24px;
    }
}